<div id="user-component">
  <page-header header="userCtrl.header">
  </page-header>

  <div id="user-project-list">
    <div ng-if="userCtrl.repos.length < 1" class="no-repo">
      There's nothing to display. Either this user does not exist, or this user has no repo.
    </div>
    <ul ng-if="userCtrl.repos.length > 0">
      <li ng-repeat="repo in userCtrl.repos">
        <span>
          <a href ng-click="userCtrl.goToRepo(repo.name)">{{ repo.name }}</a>
        </span>
      </li>
    </ul>
  </div>
</div>