@import 'bourbon';

#readme-component {
  position: relative;

  #readme-container {
    @include display(flex);
    @include justify-content(center);
    #readme-content {
      @include display(flex);
      @include justify-content(center);
      padding-top: 125px;
      width: 90%;
    }
  }
}