@import 'bourbon';

#search-component {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  #search-box {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    width: 50%;
    height: 250px;
    p {
      margin-bottom: 0.5em;
    }
    #input {
      @include display(flex);
      height: 1.5em;
      width: 250px;
      input[type="text"] {
        outline: none;
        width: 75%;
      }
      button[type="button"] {
        width: 25%;
      }
    }
  }
}